body {
	font-family: Monospace;
	color: #f0f0f0;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	font-size:14px;
}

a:link {color:#ffffff;font-style:italic;text-decoration:none;}      /* unvisited link */
a:visited {color:#ffffff;font-style:italic;text-decoration:none;}  /* visited link */
a:hover {color:#ffa500;font-style:italic;text-decoration:none;}  /* mouse over link */
a:active {color:#ffa500;font-style:italic;text-decoration:none;}  /* selected link */

#nav{
  display: block;
  font-size: 14px;
  position: absolute;
  margin: 10px;
  text-shadow: 2px 2px #000000;
}

#initiallyHiddenBlock {
    display: none;
}

#instructionsToggle:hover {
  color:#ffa500;
  text-decoration:none; 
  cursor: pointer;
}  /* mouse over link */

.modal {
  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 ) 
                url('img/loader.gif') 
                50% 50% 
                no-repeat;

  text-align: center;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}